# For Loops

A for loop in Python is used to iterate over a sequence (list, tuple, dictionary, string, or range). It allows us to execute a block of code multiple times.

# Syntax

In [ ]:
for variable in sequence:
    # Code to execute

# Applications of For Loops

- Iterating through lists, tuples, dictionaries, and strings.
- Running a loop a specific number of times using range().
- Performing calculations on iterable elements.
- Automating repetitive tasks like data processing.

# Iterating Over Different Data Structures

## Iterating Through a List

In [1]:
# Iterating Through a List

fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)# Print each fruit in a fruit list

apple
banana
cherry

## Looping Through a String

In [2]:
for x in "banana":
  print(x)

b
a
n
a
n
a

## Iterating Through a Tuple

In [2]:
colors = ("red", "green", "blue")
for color in colors:
    print(color)

red
green
blue

## Iterating Through a Dictionary

In [3]:
student_scores = {"Alice": 85, "Bob": 90, "Charlie": 78}
for student, score in student_scores.items():
    print(student, ":", score)

Alice : 85
Bob : 90
Charlie : 78

## Using range() for Numeric Iteration

In [4]:
for i in range(5):  # Loops from 0 to 4
    print(i)

0
1
2
3
4

In [5]:
# Using range(start, stop, step)

for i in range(1, 10, 2):  # Prints odd numbers from 1 to 9
    print(i)

1
3
5
7
9

## The break Statement

In [11]:
for num in range(1, 10):
    if num == 5:
        break  # Stops when num is 5
    print(num)

1
2
3
4

In [3]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break # Exit the loop when x is "banana"

apple
banana

In [4]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x) # Exit the loop when x is "banana", but this time the break comes before the print

apple

## The continue Statement

With the continue statement we can stop the current iteration of the loop, and continue with the next

In [8]:
for num in range(1, 6):
    if num == 3:
        continue  # Skips printing 3
    print(num)

1
2
4
5

In [5]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

## The range() Function

To loop through a set of code a specified number of times, we can use the range() function,
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [6]:
for x in range(6):
  print(x)

0
1
2
3
4
5

In [7]:
for x in range(2, 6):
  print(x)# Using the start parameter

2
3
4
5

In [8]:
for x in range(2, 30, 3):
  print(x) # Increment the sequence with 3 (default is 1)

2
5
8
11
14
17
20
23
26
29

## Else in For Loop

In [9]:
for i in range(3):
    print(i)
else:
    print("Loop completed!")

0
1
2
Loop completed!

In [9]:
for x in range(6):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
Finally finished!

In [10]:
for x in range(6):
  if x == 3: break
  print(x)
else:
  print("Finally finished!")

0
1
2

## Nested Loops

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop"

In [11]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
  for y in fruits:
    print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

## The pass Statement

for loops cannot be empty, but if you for some reason have a for loop with no content, put in the pass statement to avoid getting an error.

In [12]:
for x in [0, 1, 2]:
  pass

# Exercises

## Exercise 1: Sum of All Elements in a List

Write a program to calculate the sum of all numbers in a list.

In [ ]:
numbers = [10, 20, 30, 40, 50]
# Your code here

## Exercise 2: Find Even Numbers from 1 to 20

Write a for loop to print only even numbers between 1 and 20.

## Exercise 3: Count the Number of Vowels in a String
Write a program that counts the vowels in the string "Hello, World!".

## Exercise 4: Iterate Through a Dictionary and Print Values Greater Than 50

Given a dictionary of student scores, print only those who scored above 50.

In [ ]:
scores = {"John": 45, "Alice": 78, "Bob": 62, "Eve": 30}
# Your code here